
@import url(node_modules/notie/dist/notie.min.css);

@font-face {
  font-family: "Matter";
  font-weight: 400;
  src: url("/fonts/Matter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Matter";
  font-weight: 500;
  src: url("/fonts/Matter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Matter";
  font-weight: 700;
  src: url("/fonts/Matter-SemiBold.woff2") format("woff2");
}

:root {
  --font-mono: Matter;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: var(--font-mono) !important;
  background-color: #faf6f0 !important;
}

body {
  color: rgb(var(--foreground-rgb));
}

#login > *, #login .cl-headerSubtitle {
  font-family: Matter !important;
}

.notie-container {
  box-shadow: none;
}

.notie-background-success {
  background: #000000 !important;
  color: #fff !important;
}

.notie-background-warning {
  background: #000000 !important;
  color: #fff !important;
}

.notie-background-error {
  background: #000000 !important;
  color: white;
}

.notie-background-info {
  background: #fff !important;
  color: red !important;
  font-weight: 500;
}

.notie-background-neutral {
  background: #000000 !important;
  color: #fff !important;
}

.notie-background-success .notie-textbox-inner {
  color: #fff !important;
}

.notie-textbox-inner {
  font-size: 14px;
}

.notie-textbox {
  padding: 10px !important;
}

.notie-container {
  box-shadow: none !important;
}

.notie-container {
  z-index: 9999999 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
